<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                time[%d{yyyy-MM-dd HH:mm:ss.SSS}] thread[%t] level[%level] class[%logger{1}] line[%line] message[%msg]%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>